*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(135, 139, 84, 0.7),rgba(159, 170, 96, 0.7)), 
    url(images/image1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 60px;

}

.navlinks{
    flex: 1;
    text-align: right;
}

.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navlinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: #f44336;
    margin: auto;
    transition: 0.5s;
}

.navlinks ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: rgb(161, 33, 23);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 49px;
}

.text-box p{
    margin: 10x 0 40px;
    font-size: 14px;
    color: rgb(175, 23, 23);
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(168, 21, 21);
    border: 1px solid rgb(172, 21, 21);
    padding: 12px 34px;
    font-size: 13px;
    background: wheat;
    position: relative;
    cursor: pointer;
    top: 8px;
}

.text-box .hero-btn::after{
    width: 0%;
    background: #ddcdcc;
    margin: auto;
    transition:0.5s;
    display: block;
    content: '';
    height: 2px;    
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.hero-btn:hover::after{
    width: 135px;
}

/* Responsive Part*/


nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }


 .navlinks ul li{
    display: block;
 }

 .navlinks{
    position: fixed ;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
 }

 nav .fa{

    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
 }

 .navlinks ul{
    padding: 30px;
 }
}

/*----course--------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(121, 4, 4);
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-size: 14px;
    
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    
}

/*-----------Campus------------*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3{
    font-size: 26px;
    width: 100%;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*-----------Facilitiesw---------*/

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}


.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col p{
    padding: 0;

}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/*-------------testimoniaLS-------------*/

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    
}

.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;

}

.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials-col p{
    padding: 0;

}

.testimonials-col h3{
    margin: 15px;
    text-align: left;
}

.testimonials-col .fa{
    color:#f44336 ;
}

@media(max-width: 700px){
    .testimonials-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*---------cta--------*/

.cta{
    margin: 100px auto;
    background-image:  linear-gradient(rgba(232, 233, 224, 0.7),rgba(164, 172, 122, 0.7)), url(images/baner.jpg);
    min-height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    

}




.cta h1{
    color: rgb(161, 33, 23);
    margin-bottom: 40px;
    padding: 120px;
}

.cta .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(168, 21, 21);
    border: 1px solid rgb(172, 21, 21);
    padding: 12px 34px;
    font-size: 13px;
    background: wheat;
    position: relative;
    cursor: pointer;
    top: -140px;
    
}

.cta .hero-btn::after{
    width: 0%;
    background: #ddcdcc;
    margin: auto;
    transition:0.5s;
    display: block;
    content: '';
    height: 2px;    
}

.cta .hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.cta .hero-btn:hover::after{
    width: auto;
    
}


@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

/*---------Footer---------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart{
    color: #f44336;
}

/*------------------------- About Us Page-------------------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/about.jpg);
    text-align: center;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.sub-header h1{
    margin-top: 100px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
}

.about-us .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(168, 21, 21);
    border: 1px solid rgb(172, 21, 21);
    padding: 12px 34px;
    font-size: 13px;
    background: wheat;
    position: relative;
    cursor: pointer;
    top: 0px;
}

.about-us .hero-btn::after{
    width: 0%;
    background: #ddcdcc;
    margin: auto;
    transition:0.5s;
    display: block;
    content: '';
    height: 2px;
}

.about-us .hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.about-us  .hero-btn:hover::after{
    width: auto;
    
}

/*-----------blog-content--------------------*/

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left{
    flex-basis: 65%;
}

.blog-left img{
    width: 100%;
}

.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p{
    color: #999;
    padding: 0;
}

.blog-right{
    flex-basis: 32%;

}

.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button {
    margin: 10px 0;
    
}

.comment-form .hero-btn::after{
    width: 0%;
    background: #ddcdcc;
    margin: auto;
    transition:0.5s;
    display: block;
    content: '';
    height: 2px;    
}

.comment-form .hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.comment-form .hero-btn:hover::after{
    width: auto;
}



@media(max-width: 700px){
    .sub-header h1{
        font-size: 24px;
    }
}

/*--------------Contact Us----------*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;

}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div.fa{
    font-size: 28px;
    margin: 10px;
    color: #f44336;
    margin-right: 30px;
}

.contact-col div{
    padding: 0%;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

